bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.MVCWebsiteTest_Docker/.idea/indexLayout.xml
/.idea/.idea.MVCWebsiteTest_Docker/.idea/projectSettingsUpdater.xml
/.idea/.idea.MVCWebsiteTest_Docker/.idea/workspace.xml
/.idea/.idea.MVCWebsiteTest_Docker/.idea/vcs.xml
